# Comments
* Single-line and multi-line comment
* Make the comments make sense to anyone who would read
* PEP 8 style guide is a helpful resource for professional coding
* Ctrl + '/' toggles whether a line is a comment or not

In [ ]:
temperature = 95 # I am an inline comment

# I am a standard single line comment
first_name = 'Thomas' ''' Multi-line comment inline'''
last_name = 'the Train' """ Inline comment with double quotes """

In [2]:
# Define variables (length and width of a rectangle)
length = 5
width = 7

perimeter = 2 * (length + width) # Calculate the perimeter

# Print out result
print(perimeter)

24

In [ ]:
'''
This converts the temperature in fahrenheit to celsius.
1. Define temperature in fahrenheit
2. Calculate the degrees in celsius
3. Print out results
'''
# Define variables
fahrenheit = 99 # degrees

# Conversion equation
celsius = (fahrenheit - 32) * (5/9) 

# Print out results
print(celsius)

In [21]:
''' 
shortcut operators 

* usually the operator and an equals sign together
* reduces redundancy in code 


'''
# Add 5 to the age
age = 50
age += 5
print(age)

55

In [24]:
# Subtract 20
num_one = 55
num_one -= 20
print(num_one)

# Subtract 15
num_two = 11
num_two -= 15
print(num_two)

35
-4

In [12]:
# Multiply by 3
my_value = 9
my_value *= 3
print(my_value)

# Multiply by 10
milage = 15
milage *= 10
print(milage)

27
150

In [13]:
# Divide by 2
pizza_slices = 8 
pizza_slices /= 2
print(pizza_slices)

# Divide by 7
fees = 8.90
fees /= 7
print(fees)

4.0
1.2714285714285716

In [15]:
# Raise to the 3rd power
num_three = 6
num_three **= 3
print(num_three)

# Raise to the 2nd power
data = 16
data **= 2
print(data)

216
256

In [19]:
# Integer Division
# How many times does 3 go into 16?

val_one = 16
val_one //= 3
print(val_one)

# Integer division by 4
val_two = 9
val_two //= 4
print(val_two)

5
2

In [20]:
# Modulus
# Used commonly to determine if a number is even or odd

# Find the remainder if divided by 3
val_three = 10
val_three %= 3
print(val_three)

# Find the remainder if divided by 5
val_four = 14
val_four %= 5
print(val_four)

1
4

In [27]:
fahrenheit = 89

# equation
celsius = (fahrenheit - 32) * (5/9) 
print(celsius)

# using shorthand operators - more verbose but good practice
# the order of shorthand operators matter
fahrenheit -= 32
fahrenheit *= (5/9)
celsius = fahrenheit
print(celsius)

31.666666666666668
31.666666666666668

# Boolean Operators

In [37]:
# Is 7 less than 5?
result = 7 < 5
print("Is 7 less than 5?", result)

# Is 4 less than or equal to 4? 
answer = 4 <= 4
print("Is 4 less than or equal to 4", answer)

# Is 6 greater than 2?
a1 = 6 > 2
print("Is 6 greater than 2?", a1)

# Is 5 greater than or equal to 6?
a2 = 5 >= 6
print("Is 5 greater than or equal to 6?", a2)

# Is 5 equal to 5?
a3 = 5 == 5
print("Is 5 equal to 5?", a3)

# Is 100 not equal to 75?
a4 = 100 != 75
print("Is 100 not equal to 75?", a4)

Is 7 less than 5? False
Is 4 less than or equal to 4 True
Is 6 greater than 2? True
Is 5 greater than or equal to 6? False
Is 5 equal to 5? True
Is 100 not equal to 75? True

In [40]:
# and
# think of true as 1 and flase as 0
# and is multiplication
# 0 * 1 or 1 * 0 is 0
# 1 * 1 is 1 and 0 * 0 is 0
print(5 == 5 and 4 == 4)
print(2 == 2 and 3 == 1)
print(1 == 2 and 2 == 10)

True
False
False

In [42]:
log_1 = 5 == 5 
log_2 = 4 == 7
print('Log 1', log_1)
print('Log 2', log_2)
print('Log 1 and Log 2', log_1 and log_2)

Log 1 True
Log 2 False
Log 1 and Log 2 False

In [45]:
# or 
# think of or as addition
# 0 + 1 = 1 and 1 + 0 = 1
# 0 + 0 = 0 

log_1 = 4 == 5 
log_2 = 4 == 4
print('Log 1', log_1)
print('Log 2', log_2)
print('Log 1 or Log 2', log_1 or log_2)

Log 1 False
Log 2 True
Log 1 or Log 2 True